$main-color: #000;
$second-color: #fff;

$default-font-color: #555;

$max-width-content: 1200px;

$page-header-height: 100px;
$page-header-height-sticky: 50px;

$ce-spacing: 60px;
$ce-padding: 30px;
$ce-content-spacing: 15px;

$grid-gutter: 30px;
$footer-gallery-gutter: 15px;

//z-index map
$page-header-sticky-zIndex: 50;
$page-scroll-to-top-zIndex: 40;